.registerForm{
    background-image: url(https://as.com/meristation/imagenes/2019/04/03/noticias/1554282491_214816_1554282538_noticia_normal.jpg);
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}