.login {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6w1wYbzaZBTjjtetwK7fheDyeEA1PKNaHxA&usqp=CAU);
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}